{extends layout.latte}

{block title}Create person{/block}

{block body}
    <div class="container">
    <form action="{link createPerson}" method="post">
        <label>Create person</label>
        First name: <input class="form-control" type="text" name="fn" required /> <br />
        Last name: <input class="form-control" type="text" name="ln" required /> <br />
        Nickname: <input class="form-control" type="text" name="nn" required /> <br />
        Gender: <select class="form-control" name="g">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="">Indefined</option>
        </select> <br />
        Birthday: <input class="form-control" type="date" name="bd" /> <br />
        Height: <input class="form-control" type="number" name="h" /> <br />

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Insert
        </button>
    </form>
    </div>
{/block}


