{extends layout.latte}

{block title}Persons{/block}

{block body}
    <div class="container">
    <form action="{link index}">
        <label>Napis hledany text</label>
        <input class="form-control" type="text" name="search" />
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Hledat
        </button>
    </form>
    <br />

    <table class="table table-striped">
        <tr>
            <th> Jmeno </th>
            <th> Prijmeni </th>
            <th> Prezdivka </th>
            <th> Pohlavi </th>
            <th> Vyska </th>
            <th> Datum narozeni </th>

        </tr>
        {foreach $persons as $p}
            <tr>
                <td>  {$p['first_name']} </td>
                <td>  {$p['last_name']}  </td>
                <td>  {$p['nickname']}  </td>
                <td>  {$p['gender']} </td>
                <td>  {$p['height']}  </td>
                <td>  {$p['birth_day']} </td>
            </tr>
        {/foreach}
    </table>
    </div>
{/block}


